.menuBarContainer {
    width: 100%;
    height: 15%;
    background-color: #272727;
}

.menuBarWrapper {
    list-style-type: none;
    height: 100%;
    width: 100%;
    display: flex;
}

.menuItemWrapper {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: flex-end;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
}

.menuItemWrapper:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 5px;
    bottom: 5px;
    width: 1px;
    background-color: #393939;
}

.menuItem {
    /* height: 90%; */
    width: 100%;
}

.menuLabel {
    height: 10%;
    width: 100%;
    font-size: 13;
    padding-right: 10px;
    padding-left: 10px;
}

.menuColors {
    display: flex;
}

.allColorOptions {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    width: 200px;
}

.colorCircle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: .5px solid #6a6a6a;
}